* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #f3f7fa;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
  max-width: 760px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.content {
  display: flex;
  justify-content: space-between;

  .loadMoreButton {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #238ce2;
    }
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
}
